@(form: Form[_])(implicit messages: Messages)


<!DOCTYPE html>
@field(f: String) = {
  <div class="field">
    <label>@messages(f)</label>
    <input type="text" v-model="form.data['@f]" name="@f"/>
  </div>
}

<html>
  <head>
    <title></title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("lib/Semantic-UI/semantic.css")"/>
  </head>

<body>

  <div id="app">

    <router-view></router-view>

    <template id="temp">
      <div class="ui grid">

        @*왼쪽 폼 크기: 4 *@
        <div class="four wide column">
        @*<div id="home"><a href="@routes.Home.home">home</a></div>

          <div id="add"><a href="#">추가하기</a></div>

          <div> <button v-on:click="clist">목록보기</button> </div>*@

          <div class="ui list">

            <div class="item" v-for="item in data">
              {{ item.currencyCode }} {{ item.currencyName }} {{ item.currencyNameEn }} {{ item.currencySymbol }}
            </div>
          </div>


        </div>


        <div class="divider"></div>
        @*오른쪽 폼 크기: 12*@
        <div class="twelve wide column">

          <p> {{ origin | json }} </p>

        </div>


          @*<div class="twelve wide column">
            *@@* 2 로우로 쪼개기 *@@*
            <div class="row">
              <form class="ui form" action="@controllers.routes.Home.currencyAdd" method="post">
                @field("currency_code")
                @field("currency_name")
                @field("currency_name_en")
                @field("is_active")
              <button type="submit">추가등록하기</button>
                <br><br><br>
              </form>
            </div>
          </div>*@

      </div>
    </template>
  </div>

  <script src="@routes.Assets.at("lib/jquery/jquery.min.js")"></script>
  <script src="@routes.Assets.at("lib/Semantic-UI/semantic.js")"></script>
  <script src="@routes.Assets.at("lib/vue/vue.js")"></script>
  <script src="@routes.Assets.at("lib/vue-router/dist/vue-router.js")"></script>
  <script src="@routes.Assets.at("lib/vue-resource/vue-resource.js")"></script>

  <script>
  var router = new VueRouter();


  /*var Vue = require('vue');
  Vue.use(require('vue-resource'));*/

    router.map({
      '/' : {
        component: {
          template: '#temp',
          data() { return { data: {} } },

          ready() {
            return this.$http.get('/currency').then((response) => {
              console.log("성공");
              console.log(response.data);
              this.$set("data", response.data)
              return response.data
            }, (response) => {
              console.log("실패")
            });
          }


        }
      }
    });





    router.start({}, '#app')


  </script>
</body>


</html>
